{% extends 'base.html' %}

{% load static %}
<!--================Home Banner Area =================-->
{% block banner_text %}
<h1>Thank you! </h1>

{% endblock %}
<!--===Home banner area===-->

{% block body %}
<div id="gtco-services">
    <div class="gtco-container">

        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
            Thank you for contacting us! 
                Your contact form has been submitted and will be processed soon. You can expect a reply shortly! 
            </div>
        </div>
    </div>
</div>
{% endblock %}