{% load i18n %}
{% autoescape off %}

{% blocktrans %}Someone (hopefully you) has requested a password reset for your {{ site_name }} account. Follow the link
below to set a new password:
{% endblocktrans %}

{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'users:password-reset-confirm' uidb64=uid token=token %}
{% endblock %}

{% trans 'Your username, in case you’ve forgotten:' %} {{ user.get_username }}

{% blocktrans %}
If you don't wish to reset your password, disregard this email and no action will be
taken.
{% endblocktrans %}

{% trans "Thanks for using our site!" %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}

{% endautoescape %}