{% extends 'user_base.html' %}

{% block user_action_title %}
Set new Password
{% endblock %}

{% block user_action %}
Set New Password
{% endblock %}

{% block body %}


{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% if validlink %}
<form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="btn-toolbar">
        <button class="btn btn-info" type="submit">Reset Password </button>
        <a href="{% url 'home:home' %}" class="btn btn-danger ml-auto">Homepage </a>
    </div>
</form>
{% else %}
<p>Invalid link</p>
{% endif %}
{% endblock %}